aliyun-python-sdk-core==2.13.5
aliyun-python-sdk-core-v3==2.13.3
aliyun-python-sdk-kms==2.6.0
blinker==1.4
blueprint==3.4.2
certifi==2019.6.16
chardet==3.0.4
Click==7.0
crcmod==1.7
Flask==1.0.3
flask-blueprint==1.2.7
Flask-Cors==3.0.8
Flask-Mail==0.9.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
MarkupSafe==1.1.1
oss2==2.6.1
Pillow==6.0.0
pycryptodome==3.8.2
PyMySQL==0.9.3
redis==2.10.6
requests==2.22.0
six==1.12.0
urllib3==1.25.3
Werkzeug==0.15.4
